.hud {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36%;
  height: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}

.hud > * {
  width: 94%;
}

.raisecontrols {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px 4px;
  border-radius: 4px;
  border-left: 4px solid rgba(179, 57, 57,1.0);
  background: rgba(255, 82, 82, .9);
}

.raisecontrols::after {
  position: absolute;
  bottom: -12px;
  right: 24px;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-top: 15px solid rgba(255, 82, 82, .9);
}

.raisecontrols .label {
  font-size: 1.2em;
  text-align: center;
  margin: 0 4px;
  padding: 4px;
  color: white;
  background: rgba(179, 57, 57,1.0);
}

.raisecontrols .slider {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  color: rgba(240, 255, 0, 1);
}

.raisecontrols .slider > input {
  margin: 0 8px;
}

.raisecontrols .slider > i {
  border-radius: 50%;
  border: solid 1px rgba(240, 255, 0, 1);
  padding: 2px 6px;
}

.raisecontrols .quick {
  display: flex;
  justify-content: space-between;
}

.raisecontrols .quick > span {
  margin: 0 4px;
  text-align: center;
  width: 100%;
  color: rgba(240, 255, 0, 1);
  border-radius: 20px;
  border: solid 1px rgba(240, 255, 0, 1);
  padding: 2px 6px;
}

.raisecontrols .btn:active {
  background: rgba(240, 255, 0, 0.2);
}

.mecontrols {
  display: flex;
  justify-content: space-around;
}

.mecontrols > div {
  display: flex;
  flex-flow: column;
}

.mecontrols > div > span {
  font-size: 0.9em;
  text-align: center;
}

.mecontrols > div > i {
  font-size: 1.2em;
  padding: 4px 10px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.mecontrols > div > i,
.mecontrols > div > span {
  color: #ddd;
}

.mecontrols > div > i {
  border: 1px solid #faa;
}

.mecontrols > div.checked > i {
  border: 1px solid rgba(0, 0, 0, 0);
  color: black;
}

.mecontrols > .fold.checked > span {
  color: rgba(217, 30, 24, 1);
}

.mecontrols > .callany.checked > span,
.mecontrols > .checkfold.checked > span,
.mecontrols > .check.checked > span,
.mecontrols > .call.checked > span {
  color: rgba(34, 167, 240, 1);
}

.mecontrols > .raise.checked > span {
  color: rgba(240, 255, 0, 1);
}

.mecontrols > .fold.checked > i {
  background: rgba(217, 30, 24, 1);
}

.mecontrols > .callany.checked > i,
.mecontrols > .checkfold.checked > i,
.mecontrols > .check.checked > i,
.mecontrols > .call.checked > i {
  background: rgba(34, 167, 240, 1);
}

.mecontrols > .raise.checked > i {
  background: rgba(240, 255, 0, 1);
}
