.nine .seats .seat.one,
.nine .cards .hole.one {
  bottom: 16%;
  left: 50%;
}
.nine .seats .seat.two,
.nine .cards .hole.two {
  bottom: 20%;
  left: 33%;
}
.nine .seats .seat.nine,
.nine .cards .hole.nine {
  bottom: 20%;
  left: 67%;
}
.nine .seats .seat.three,
.nine .cards .hole.three {
  bottom: 30%;
  left: 14%;
}
.nine .seats .seat.eight,
.nine .cards .hole.eight {
  bottom: 30%;
  left: 86%;
}
.nine .seats .seat.four,
.nine .cards .hole.four {
  bottom: 64%;
  left: 16%;
}
.nine .seats .seat.seven,
.nine .cards .hole.seven {
  bottom: 64%;
  left: 84%;
}
.nine .seats .seat.five,
.nine .cards .hole.five {
  bottom: 76%;
  left: 32%;
}
.nine .seats .seat.six,
.nine .cards .hole.six {
  bottom: 76%;
  left: 68%;
}

.nine .cards .hand.one {
  bottom: 30%;
  left: 48%;
}
.nine .cards .hand.two {
  bottom: 33%;
  left: 33%;
  transform: rotate(10deg);
}
.nine .cards .hand.nine {
  bottom: 35%;
  left: 65%;
  transform: rotate(-20deg);
}
.nine .cards .hand.three {
  bottom: 38%;
  left: 17%;
  transform: rotate(40deg);
}
.nine .cards .hand.eight {
  bottom: 44%;
  left: 78%;
  transform: rotate(-60deg);
}
.nine .cards .hand.four {
  bottom: 60%;
  left: 20%;
  transform: rotate(-50deg);
}
.nine .cards .hand.seven {
  bottom: 54%;
  left: 76%;
  transform: rotate(50deg);
}
.nine .cards .hand.five {
  bottom: 64%;
  left: 32%;
  transform: rotate(-30deg);
}
.nine .cards .hand.six {
  bottom: 62%;
  left: 65%;
  transform: rotate(10deg);
}

.nine .actions .action.one {
  bottom: 32%;
  left: 48%;
}
.nine .actions .action.two {
  bottom: 36%;
  left: 32%;
}
.nine .actions .action.nine {
  bottom: 36%;
  left: 64%;
}
.nine .actions .action.three {
  bottom: 40%;
  left: 20%;
}
.nine .actions .action.eight {
  bottom: 40%;
  left: 76%;
}
.nine .actions .action.four {
  bottom: 56%;
  left: 20%;
}
.nine .actions .action.seven {
  bottom: 56%;
  left: 76%;
}
.nine .actions .action.five {
  bottom: 62%;
  left: 32%;
}
.nine .actions .action.six {
  bottom: 62%;
  left: 64%;
}


.five .seats .seat.one,
.five .cards .hole.one {
  bottom: 8%;
  left: 50%;
}
.five .seats .seat.two,
.five .cards .hole.two {
  bottom: 25%;
  left: 20%;
}
.five .seats .seat.five,
.five .cards .hole.five {
  bottom: 25%;
  left: 80%;
}
.five .seats .seat.three,
.five .cards .hole.three {
  bottom: 75%;
  left: 28%;
}
.five .seats .seat.four,
.five .cards .hole.four {
  bottom: 75%;
  left: 72%;
}


.five .actions .action.one {
  bottom: 30%;
  left: 50%;
}
.five .actions .action.two {
  bottom: 40%;
  left: 25%;
}
.five .actions .action.three {
  bottom: 63%;
  left: 28%;
}
.five .actions .action.four {
  bottom: 63%;
  left: 72%;
}
.five .actions .action.five {
  bottom: 40%;
  left: 75%;
}


.five .cards .hand.one {
  bottom: 28%;
  left: 50%;
}
.five .cards .hand.two {
  bottom: 32%;
  left: 25%;
  transform: rotate(40deg);
}
.five .cards .hand.three {
  bottom: 66%;
  left: 30%;
  transform: rotate(-40deg);
}
.five .cards .hand.four {
  bottom: 60%;
  left: 68%;
  transform: rotate(30deg);
}
.five .cards .hand.five {
  bottom: 36%;
  left: 70%;
  transform: rotate(-40deg);
}

.five .cards .button.one {
  bottom: 32%;
  left: 50%;
}
.five .cards .button.two {
  bottom: 40%;
  left: 25%;
}
.five .cards .button.three {
  bottom: 63%;
  left: 28%;
}
.five .cards .button.four {
  bottom: 63%;
  left: 72%;
}
.five .cards .button.five {
  bottom: 40%;
  left: 80%;
}


.cards .hand.dealer {
  bottom: 64%;
  left: 48%;
}
